# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metdata
.DS_STORE

# Distribution / packaging
*.egg-info/

# Virtualenv
/env/

# Buildout
/bin/
/develop-eggs/
/eggs/
/src/

# Unit test / coverage reports
.cache/
.installed.cfg
.mr.developer.cfg
.coverage
/htmlcov/

# Sphinx documentation
docs/_build/

# PyEnv settings
.python-version
