# Umbrella dependencies
flake8~=2.6.2
opster
tox
Sphinx

# Checked-out libraries

{%- for label, link in libraries + extensions + examples %}
-e src/{{ label }}[test]
{%- endfor %}

# Test fixtures for autoscan

{%- for d in fixtures %}
-e {{ d }}
{%- endfor %}

